[program:{{ appname }}]
command=/var/www/{{ appname }}/env/bin/python /var/www/{{ appname }}/env/bin/semond.py /tmp/semon_results.yaml
directory=/var/www/{{ appname }}
autostart=true
autorestart=true
stderr_logfile=/var/log/{{ appname }}.err.log
stdout_logfile=/var/log/{{ appname }}.out.log