[program:project_name]
command=/path/to/virtualenv/bin/gunicorn_django -c /path/to/project/gunicorn_conf.py
directory=/path/to/project/
user=username
autostart=true
autorestart=true
priority=991
stopsignal=KILL